.jumbotron {
    background-image: url(https://www.rei.com/dam/content_team_080317_61569_mountain_biking_beginners_lg.jpg);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
}